<form name="userProfile" #userProfile="ngForm" novalidate>
  
  <mat-card class="profile-container">
    <div class="user-lable">
      <i class="fa fa-users" aria-hidden="true"></i> My Profile
    </div>
    <div class="user-profile-container">
      <div class="user-basic-information">
        <mat-form-field class="input-box">
          <input matInput type="text" placeholder="Username" [(ngModel)]="user.username"
          #username="ngModel" name="username" required >
          <mat-error>
            <app-validation-message [control]="username" [customTitle]="'Username'">
            </app-validation-message>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="input-box">
          <input matInput type="text" placeholder="Firstname" [(ngModel)]="user.firstname"
          #firstname="ngModel" name="firstname" required>
          <mat-error>
            <app-validation-message [control]="firstname" [customTitle]="'Firstname'">
            </app-validation-message>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="input-box">
          <input matInput type="text" placeholder="Middlename" [(ngModel)]="user.middlename"
          #middlename="ngModel" name="middlename" required>
          <mat-error>
            <app-validation-message [control]="middlename" [customTitle]="'Middlename'">
            </app-validation-message>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="input-box">
          <input matInput type="text" placeholder="Lastname" [(ngModel)]="user.lastname"
          #lastname="ngModel" name="lastname" required>
          <mat-error>
            <app-validation-message [control]="lastname" [customTitle]="'Lastname'">
            </app-validation-message>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="input-box">
          <input matInput type="text" placeholder="Email address" [(ngModel)]="user.email"
          #email="ngModel" name="email" required>
          <mat-error>
            <app-validation-message [control]="email" [customTitle]="'Email address'">
            </app-validation-message>
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="user-password-information">
        <mat-form-field class="input-box">
          <input matInput type="text" placeholder="Password" [(ngModel)]="user.password"
          #password="ngModel" name="password" required>
          <mat-error>
            <app-validation-message [control]="password" [customTitle]="'Password'">
            </app-validation-message>
          </mat-error>
        </mat-form-field>
         
        
      </div>
      
      
      
    </div>

    <div class="product-btns">
      <button mat-raised-button class="save-btn" (click)="saveUser(userProfile)">Save</button>
      <button mat-raised-button class="cancel-btn" (click)="listProduct()">Cancel</button>
    </div>
    
  </mat-card>
</form>
  