@import 'theme.scss';

.profile-container{
    width: 90%;
    margin: 2% 0% 0% 4%;
    .user-lable{
        text-align: center;
    }
    .user-profile-container{
        margin-left: 5%;
        .user-basic-information{
            margin-top: 2%;
            .input-box{
                margin-right: 5%;
                width: 45%;
                margin-top: 1%;
            }
        }
        .user-password-information{
            margin-top: 2%;
            .input-box{
                margin-right: 5%;
                width: 45%;
                margin-top: 1%;
            }
        }
    }

    .product-btns {
        margin-left: 25px;
        text-align: center;
        .save-btn {
          margin-left: 40px;
          color: mat-color($primary,50);
          background-color: mat-color($primary,800);
        } 
        .cancel-btn {
          margin-left: 20px;
          color: mat-color($primary,50);    
          background-color: mat-color($primary,700);
        } 
      }
}